@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: black;
    color: white;
}

.cabeca{
    width: 100%;
    background: linear-gradient(to bottom,rgb(10, 230, 208),black);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introducao{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: none;
    font-size: 400%;
    color: rgb(4, 255, 226);
    background-color: transparent;
    
}
.corpo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.apresentacao{
    display: flex;
    color: white;
    
}

.botaogo{
    background-color: aqua;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
}